/* Home.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text{
    color: rgb(132, 255, 0);
    font-weight: bold;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-container {
  animation: fadeIn 1s ease forwards;
}

.animate-fadeIn {
  opacity: 0;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.animate-fadeIn.delay-200 {
  animation-delay: 0.2s;
}

.animate-fadeIn.delay-400 {
  animation-delay: 0.4s;
}

.animate-fadeIn.delay-600 {
  animation-delay: 0.6s;
}

.animate-fadeIn.delay-800 {
  animation-delay: 0.8s;
}

.animate-fadeIn.delay-1000 {
  animation-delay: 1s;
}

.animate-fadeIn.delay-1200 {
  animation-delay: 1.2s;
}

.list-disc{
    color: rgb(0, 0, 0);
    font-weight: 800;
}
.hidden{
    color: black;
    font-weight: bold;
}
.text-xl{
    color: black;
}